@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Work+Sans&display=swap");
@import "_mixins";
@import "_mobile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//fonts
//serif h1-h6,titles, important text => Ibarra Real Nova
//sans serif texts, nonimp sentences => Work Sans

body {
  // display: flex;
  // flex-direction: column;
  // font-family: "Ibarra Real Nova", serif;
}

p {
  // font-family: "Work Sans", sans-serif;
}
